.food-items {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}
.food-items-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.food-items-info {
  padding: 20px;
}
.food-items-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-items-name-rating p {
  font-size: 20px;
  font-weight: 500;
}
.food-items-name-rating img {
  width: 70px;
}
.food-items-description {
  color: #676767;
  font-size: 12pxs;
}
.food-items-price {
  font-size: 22px;
  color: tomato;
  font-weight: 500;
  margin: 10px 0;
}
.food-items-image-container {
  position: relative;
}
.food-items-image-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.food-items-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  animation: fadeIn 0.5s;
}
.food-items-counter img {
  width: 30px;
}
.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 10px 0;
}

.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-promocode {
  flex: 1;
}
.cart-promocode p {
  color: #555;
}
